html {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}
body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
    background-color: rgb(100, 200, 200);
}
menu {
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #246bfd;
    padding: 10px;
    color: white;
}
main.page {
    margin: 80px auto 20px auto;
    padding: 20px;
    box-sizing: border-box;
}
.content {
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(200, 200, 200);
    border-radius: 10px;
    min-width: 90vw;
}
pre {
    background-color: rgb(240, 240, 240);
    padding: 2px 4px;
    border-radius: 4px;
}
code {
    font-family: Consolas, monospace;
}
footer {
    background-color: #333;
    padding: 10px;
    color: white;
    position: absolute;
    width: 100vw;
    left: 0;
}
a {
    color: inherit;
}